<div class="container m-5 card">
   <div class="card-body">
    <h3 class="card-title">Queremos ouvir você</h3>
    <p class="card-subtitle">Para dúvidas ou sugestões fale conosco</p> 
    </div>
    <div class="row m-3 card-text">
        <div class="d-inline-flex gap-3">
            <p>
                <img src="~/img/envelope.png"/>
            </p>
            <p><email address="exemplo@email.com" content="exemplo@gmail.com" ></email></p>
        </div>
    </div>
    <div class="row m-3 card-text">
        <div class="d-inline-flex gap-3">
            <p>
                <img src="~/img/phone.png" height="25px"/>
            </p>
            <p>(99) 99999-9999</p>
        </div>
    </div>
    <div class="row card-text m-3 ">
        <div class="d-inline-flex gap-3">
            <p>
                <img src="~/img/local.png" height="25px"/>
            </p>
            <p>Av. Exemplo, 123 - Cidade</p>
        </div>
    </div>
</div>