<br>
<div class="container my-3">
    <div class="row align-items-center">
        <div class="col-auto">
            <img src="~/img/admin-icon.jpg" width="100px" class="img-fluid">
        </div>
        <div class="col-auto">
            <h2>Área do Administrador!</h2>       
            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Voltar para Início</a>
        </div>
    </div>
</div>