
<div class="dropdown">

    <a class="btn text-light dropdown-toggle" role="button" 
        id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
     Lanches
  </a>

     <ul class="dropdown-menu dropdown-menu-end">
         @foreach(var category in Model)
        {
             <li >
                <a class="dropdown-item" asp-controller="Snack" asp-action="List" style="color:black" 
                   asp-route-category="@category.CategoryName">@category.CategoryName</a>
            </li>        
        }
         <li class="dropdown-divider"></li>
        <li>
            <a class="dropdown-item" asp-controller="Snack" asp-action="List" asp-route-category="" 
               style="color:black">Todos</a>
        </li>
     </ul>

</div>

<style>
    .dropdown-menu {
    width: 15px !important;
}
</style>